<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wait_queue.name %>
</p>

<p>
  <strong>Count:</strong>
  <%= @wait_queue.count %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @wait_queue.admin_id %>
</p>

<p>
  <strong>Reset time:</strong>
  <%= @wait_queue.reset_time %>
</p>

<p>
  <strong>Auto reset:</strong>
  <%= @wait_queue.auto_reset %>
</p>

<%= link_to 'Edit', edit_wait_queue_path(@wait_queue) %> |
<%= link_to 'Back', wait_queues_path %>
