<%= form_with(model: waiter, local: true) do |form| %>
  <% if waiter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(waiter.errors.count, "error") %> prohibited this waiter from being saved:</h2>

      <ul>
      <% waiter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :que_id %>
    <%= form.number_field :que_id %>
  </div>

  <div class="field">
    <%= form.label :order_number %>
    <%= form.number_field :order_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
