<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @waiter.name %>
</p>

<p>
  <strong>Que:</strong>
  <%= @waiter.que_id %>
</p>

<p>
  <strong>Order number:</strong>
  <%= @waiter.order_number %>
</p>

<%= link_to 'Edit', edit_waiter_path(@waiter) %> |
<%= link_to 'Back', waiters_path %>
